<div class="container-fluid">
  <div class="row">
    <div
      class="col d-flex flex-column justify-content-center align-items-center"
      style="
        height: 100vh;
        background: linear-gradient(rgb(233, 163, 163), rgb(119, 22, 9));
      "
    >
      <div
        style="font-size: 120px; font-weight: bolder; color: rgb(24, 243, 152)"
      >
        404
      </div>
      <div style="font-size: 90px; font-weight: bold; color: rgb(248, 65, 52)">
        PAGE NOT FOUND
      </div>
    </div>
  </div>
</div>
