<div class="container-fluid">
  <div class="row" style="height: 100px">
    <div
      class="col bg-dark d-flex justify-content-center align-items-center text-light"
      style="font-size: 35px"
    >
      MOVIE DETAILES
    </div>
  </div>
  <div
    class="row d-flex flex-column justify-content-center align-items-center mt-3"
    style="height: 80px"
  >
    <div
      class="col-6 d-flex flex-column justify-content-center align-items-center"
      style="font-size: 30px"
    >
      Movie name dbhcj cbwejh
    </div>
  </div>

  <div class="row d-flex justify-content-center" style="height: 350px">
    <div class="col-3 p-0">
      <img
        src="assets/image/m1.JPG"
        style="
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 20px;
        "
      />
    </div>
    <div class="col-3 bg-light text-justify">
      <div>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <div style="margin-top: 10px">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, sequi?
        Atque enim distinctio aliquid nam, quaerat magnam obcaecati possimus et
        assumenda culpa veritatis! Assumenda maiores dolore corrupti eum dolorem
        reiciendis.
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5" style="height: 350px">
    <div
      class="col-6 p-0 bg-dark text-light text-justify"
      style="
        max-width: 100%;
        height: auto;
        text-justify: auto;
        border-radius: 20px;
      "
    >
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente tempora
      quaerat, expedita nobis nihil itaque necessitatibus saepe ea laudantium
      dolore? Velit facere non iste blanditiis quidem deleniti rerum eos
      temporibus nam aperiam totam maiores, reprehenderit, voluptatum explicabo
      ullam perspiciatis neque? Deleniti, iure molestias cumque rem natus at
      odio aut! Aperiam illum sit cum, repellat delectus expedita numquam. Nisi
      quia, unde quibusdam quos neque praesentium et officia earum aut, autem
      illo optio sint quas cum illum possimus facilis minus minima, atque qui ab
      vero? Fugit consequuntur ipsam tempora temporibus, nostrum, ipsa pariatur
      illo aliquam doloremque amet praesentium alias necessitatibus quibusdam
      quo hic architecto voluptatibus cupiditate ratione laborum modi
      consequatur! Mollitia necessitatibus sunt est voluptates, aut modi vel,
      quos, ratione magni tempore natus nesciunt nostrum dignissimos blanditiis
      qui iste voluptatibus. Officiis eius a molestias? Ex qui quod earum?
      Similique ad temporibus, sequi reiciendis molestiae recusandae

      <!-- <video width="400" controls>
                <source src="https://youtu.be/eOrNdBpGMv8" type="video/mp4">
              </video> -->
    </div>
  </div>

  <br />
  <br />
</div>
