<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top: 20vh">
  <div class="row">
    <div class="col text-center mb-4 mt-2" style="font-size: 65px">
      UPCOMMING MOVIES
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4">
      <div class="card">
        <div>
          <img
            src="assets/image/Dolly-Kitty.jpg"
            class="img-thumbnail"
            alt="..."
            style="object-fit: cover"
            height="100%"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Dolly Kitty Aur Woh Chamakte Sitare</h5>
          <p class="card-text">18 September, 2020</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/The-Big-Bull.jpeg"
          class="img-thumbnail"
          style="object-fit: cover"
          height="100%"
          alt="alien-movie"
        />
        <div class="card-body">
          <h5 class="card-title">The Big Bull</h5>
          <p class="card-text">23 October, 2020</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Sooryavanshi.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Sooryavanshi</h5>
          <p class="card-text">13 November, 2020</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Brahmastra.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Brahmastra</h5>
          <p class="card-text">04 December, 2020</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card box">
        <img
          src="assets/image/Satyameva-Jayate.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">Satyameva Jayate 2</h5>
          <p class="card-text">2021</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Maidaan.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">Maidaan</h5>
          <p class="card-text">13 August, 2021</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card box">
        <img
          src="assets/image/Heropanti.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="alien-movie"
        />
        <div class="card-body">
          <h5 class="card-title">Heropanti 2</h5>
          <p class="card-text">16 July, 2021</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Laal-Singh-Chaddha.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Laal Singh Chaddha</h5>
          <p class="card-text">25 December, 2021</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Fast-And-Furious.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">Fast And Furious 9</h5>
          <p class="card-text">02 April, 2021</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Life-on-a-Bicycle.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">Life on a Bicycle</h5>
          <p class="card-text">25 December, 2020</p>
        </div>
      </div>
    </div>
  </div>
</div>
