<div class="container-fluid">
  <div class="row">
    <div class="col text-center mb-4 mt-2" style="font-size: 65px">
      TRENDING MOVIES
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4">
      <div class="card">
        <div>
          <a routerlink="/Booking">
            <img
              src="assets/image/War.jpg"
              class="img-thumbnail"
              alt="..."
              style="object-fit: cover"
              height="100%"
          /></a>
        </div>
        <div class="card-body">
          <h5 class="card-title">War</h5>
          <p class="card-text">2019, action thriller</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/K1.jpg"
          class="img-thumbnail"
          style="object-fit: cover"
          height="100%"
          alt="alien-movie"
        />
        <div class="card-body">
          <h5 class="card-title">Kabir Singh</h5>
          <p class="card-text">2019, romantic drama</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/s1.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Super 30</h5>
          <p class="card-text">2019, Drama</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/h4.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Housefull 4</h5>
          <p class="card-text">2019, comedy film</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card box">
        <img
          src="assets/image/URI.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">Uri: The Surgical Strike</h5>
          <p class="card-text">2019, Action</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Bharat.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">Bharat</h5>
          <p class="card-text">2019,Drama</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card box">
        <img
          src="assets/image/Bala.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="alien-movie"
        />
        <div class="card-body">
          <h5 class="card-title">Bala</h5>
          <p class="card-text">2019, comedy film</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Malaal.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Malaal</h5>
          <p class="card-text">2019,Drama</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Bhoot-8-306x393.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">BHOOT:The Haunted</h5>
          <p class="card-text">2020, Horror Mystery</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Spider-Man.jpg"
          class="img-thumbnail"
          alt="..."
          style="object-fit: cover"
          height="100%"
        />
        <div class="card-body">
          <h5 class="card-title">Spider-Man</h5>
          <p class="card-text">2018,Science-Fiction</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4">
      <div class="card">
        <div>
          <img
            src="assets/image/Angrezi-Medium.jpg"
            class="img-thumbnail"
            alt="..."
            style="object-fit: cover"
            height="100%"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Angrezi Medium</h5>
          <p class="card-text">2020, comedy drama film</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/Baaghi-3.jpg"
          class="img-thumbnail"
          style="object-fit: cover"
          height="100%"
          alt="alien-movie"
        />
        <div class="card-body">
          <h5 class="card-title">Baaghi 3</h5>
          <p class="card-text">2020, action thriller film</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/subh.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Shubh Mangal Zyada Saavdhan</h5>
          <p class="card-text">2020 , Comedy Romance</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/bahu2.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Baahubali 2</h5>
          <p class="card-text">2017, action film</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img
          src="assets/image/sadak2.jpg"
          style="object-fit: cover"
          class="img-thumbnail"
          alt="endgame"
        />
        <div class="card-body">
          <h5 class="card-title">Sadak 2</h5>
          <p class="card-text">2020, Drama Thriller</p>
        </div>
      </div>
    </div>
  </div>
</div>
